.profile {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(32, 32, 32);
  min-height: 100vh;
}

.profile__container {
  padding-top: 74px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  max-width: 410px;
}

.profile__title {
  max-width: 204px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.profile__form {
  margin: 123px 0 0 0;
  width: 100%;
}

.profile__label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(66, 66, 66);
  margin-bottom: 17px;
}

.profile__label:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.profile__input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
}

.profile__input:focus {
  outline: none;
}

.profile__edit {
  max-width: 410px;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 200px 0 0 0;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: .7;
}

.profile__out {
  max-width: 410px;
  border: none;
  background-color: transparent;
  color: rgb(238, 52, 101);
  margin: 16px 0 0 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  padding-bottom: 70px;
  cursor: pointer;
  text-decoration: none;
}

.profile__out:hover {
  opacity: .7;
}

@media screen and (max-width: 1118px) {
  .profile__container {
    padding-top: 230px;
  }

  .profile__form {
    margin: 96px 0 0 0;
  }

  .profile__edit {
    margin: 190px 0 0 0;
  }

  .profile__out {
    padding-bottom: 269px;
  }
}

@media screen and (max-width: 483px) {
  .profile__container {
    padding-top: 65px;
    margin: 0 30px;
  }

  .profile__form {
    margin-top: 80px;
  }

  .profile__edit {
    margin-top: 359px;
  }

  .profile__out {
    padding-bottom: 40px;
  }
}


