.auth {
  background: rgb(32, 32, 32);
  width: 100%;
  min-height: 100vh;
}

.auth__container {
  max-width: 396px;
  padding-top: 70px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.auth__logo {
  width: 38px;
  height: 38px;
  object-position: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.auth__logo:hover {
  opacity: .7;
}

.auth__link {
  max-width: 38px;
}

.auth__title {
  max-width: 100%;
  font-size: 24px;
  font-weight: 500;
  margin: 40px 0 0 0;
  padding: 0;
  text-align: left;
}

.auth__form {
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.auth__subtitle {
  margin: 15px 0 0 0;
  color: rgb(139, 139, 139);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.auth__subtitle_color_blue {
  margin: 0px 0 0 6px;
  text-decoration: none;
  color: rgb(66, 133, 244);
  cursor: pointer;
}

.auth__subtitle_color_blue:hover {
  opacity: .7;
}

@media screen and (max-width: 891px) {
  .auth__container {
    padding-top: 232px;
  }

  .auth__subtitle {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 562px) {
  .auth__container {
    max-width: 260px;
    padding-top: 56px;
    align-items: center;
    justify-content: flex-start;
  }

  .auth__title {
    margin-top: 50px;
  }

  .auth__form {
    max-width: 260px;
    margin-top: 80px;
  }

  .auth__input {
    max-width: 260px;
  }

  .auth__subtitle {
    max-width: 260px;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 30px;
  }
}
