.search {
  background-color: rgb(32, 32, 32);
}

.search__container {
  margin: 0 auto;
  padding: 0;
  max-width: 1140px;
}

.search__form {
  padding-top: 70px;
  margin: 0 auto 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.search__part {
  border: none;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.search__input {
  width: 100%;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  margin: 0;
  padding: 0 0 13px 0;
  background-color: rgb(32, 32, 32);
  border: none;
  border-bottom: 1px solid rgb(66, 66, 66);
  color: white;
}

.search__input:focus {
  border-bottom: 1px solid #b6b6b6;
  outline: none;
}

.search__button {
  background-image: url('../../images/find.svg');
  width: 34px;
  height: 34px;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 70px;
  right: 0px;
  cursor: pointer;
}

.search__button:hover {
  opacity: .8;
}

.checkbox {
  margin: 32px 0 0 0;
  display: flex;
  flex-direction: row;
  padding: 0;
  max-width: 1140px;
  border: none;
}

.checkbox__button {
  margin: 0;
	height: 28px;
	line-height: 28px;
  position: relative;
	font-size: 14px;
	user-select: none;
  justify-self: center;
  max-height: 20px;
  transition: opacity .3s ease;
}

.search__button_disabled {
  opacity: .7;
}

.checkbox__button:hover {
  opacity: .7;
}

.checkbox__switch {
  display: none;
}

.checkox__switch_ios {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.checkox__switch_ios::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.2s ease, background-color .2s ease;
}

.checkbox__switch + .checkox__switch_ios {
  background-color: rgb(61, 220, 132);
}

.checkbox__switch:checked + .checkox__switch_ios {
  background-color: rgb(235, 235, 235);
}

.checkbox__switch:checked + .checkox__switch_ios:before {
  transform: translateX(-16px);
  background-color: rgb(245, 245, 245);
}

.checkbox__name {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 14px;
  align-self: flex-end;
}

.search__error {
  display: none;
  margin: 10px 0 0 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: rgb(238, 52, 101);
}

.search__error_active {
  display: block;
}

@media screen and (max-width: 1181px) {
  .search__form {
    margin: 0 30px;
  }

  .checkbox {
    gap: 16px;
    flex-direction: row-reverse;
    margin: 29px 0 0 0px;
  }
}

@media screen and (max-width: 538px) {
  .search__form {
    margin: 0 14px;
  }

  .search__input {
    font-size: 18px;
    font-weight: 500;
  }

  .checkbox {
    margin: 40px 0 0 0;
    justify-content: center;
  }

  .checkbox__name {
    font-size: 11px;
    line-height: 18px;
    margin: 0;
  }
}
