.checkbox__switch {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  background-color: rgb(61, 220, 132);
  border-radius: 20px;
}

.checkbox__checkbox {
  width: 0px;
  height: 0px;
  opacity: 0;
}

.checkbox__slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(61, 220, 132);
  border-radius: 20px;
}

.checkbox__slide::before {
  content: '';
  position: absolute;
  cursor: pointer;
  top: 2px;
  bottom: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 20px;
}
