.project {
  background: rgb(32, 32, 32);
  width: 100%;
  padding-top: 110px;
  margin: 0;
  box-sizing: border-box;
}

.project__container {
  max-width: 1140px;
  margin: 0 auto;
}

.project__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -4%;
  margin: 0;
  max-width: 1140px;
  color: white;
}

.project__title::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 23px auto 0 auto;
}

.project__lists {
  margin-top: 70px;
  display: flex;
  list-style: none;
  padding: 0;
  color: white;
  gap: 40px;
}

.project__list {
  flex-direction: column;
  max-width: 550px;
  text-align: left;
}

.project__heading {
  max-width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

.project__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 26px 0 0 0;
  padding: 0;
}

.project__landing {
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
    "timeone timetwo"
    "descrone descrtwo";
  padding-bottom: 110px;
  margin: 0;
}

.project__time {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  background-color: rgb(61, 220, 132);
  grid-area: timeone;
  margin: 95px 0 0 0;
}

.project__time_color_dark {
  grid-area: timetwo;
  background-color: rgb(48, 48, 48);
  color: white;
}

.project__description {
  grid-area: descrone;
  justify-self: center;
  margin: 14px 0 0 0;
  padding: 0;
  color: rgb(139, 139, 139);;
}

.project__description_color_dark {
  grid-area: descrtwo;
}

@media screen and (max-width: 1176px) {
  .project {
    padding-top: 90px;
  }

  .project__container {
    margin: 0 50px;
  }

  .project__text {
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .project__time {
    margin-top: 80px;
  }
}


@media screen and (max-width: 561px) {
  .project {
    padding-top: 70px;
  }

  .project__container {
    margin: 0 18px;
  }

  .project__landing {
    grid-template-columns: 2fr 4fr;
    padding-bottom: 69px;
  }

  .project__title {
    font-size: 18px;
    line-height: 22px;
  }

  .project__title::after {
    margin-top: 28px;
  }

  .project__lists {
    flex-direction: column;
    gap: 56px;
    margin-top: 60px;
  }

  .project__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .project__text {
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
  }

  .project__time {
    margin-top: 40px;
  }

  .project__description {
    font-size: 11px;
    line-height: 13px;
  }
}
